/*Página pokedex*/

.Pokedex {
    display: block;
}

.Pokedex-list {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.Pokedex-top, .Pokedex-bottom {
    display: flex;
    justify-content: space-between;
}

.Pokedex-line {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgb(126, 112, 112), transparent);
}

.pokedex-label {
    margin-left: 5em;
    font-size: 1.2em;
}

.card {
    border-radius: 2em;
}

.Pokedex-search {
    width: 50%;
    border-radius: 8px;
    padding: 5px;
    margin-left: 2em;
    margin-right: 0.2em;
    margin-top: 1.6em;
    margin-bottom: 1em;
    font-size: 1em;
}

.pokedex-pesquisar {
    border: none;
    background-color: white;
    font-size: 1.2em;
}

.pokedex-pesquisar:hover {
    opacity: 0.5;
    cursor: pointer;
}

.pokedex-perfil {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    padding-top: 1em;
}

.pokedex-perfil:hover {
    opacity: 0.4;
}

.pokedex-name {
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    padding-top: 0em;
    
}

.pokedex-sair {
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    padding-top: 0.3em;
}

.pokedex-sair:hover{
    cursor: pointer;
    opacity: 0.4;
}


.pokedex-proximo,.pokedex-voltar {
    background-color: rgb(255, 255, 255);
    font-size: 2.5em;
    cursor: pointer;
    border-radius: 0.3em;
    margin-bottom: 0.5em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.pokedex-proximo:hover, .pokedex-voltar:hover {
    background-color: rgb(71, 228, 51);
}

.pokedex-proximo:active, .pokedex-voltar:active {
    opacity: 0.7;
}

.favoritar {
    font-size: 1.2em;
    width: 5em;
    background-color: rgb(202, 220, 255);
    cursor: pointer;
    border-radius: 0.5em;
    margin-top: 0.3em;
}

.favoritar:hover{
    background-color: rgb(196, 175, 175);
}

.favoritar:active {
    opacity: 0.7;
}

.deletar {
    font-size: 1.2em;
    width: 11em;
    background-color: rgb(255, 179, 179);
    cursor: pointer;
    border-radius: 0.5em;
    margin-top: 0.3em;
    
}

.deletar:hover{
    background-color: rgb(196, 175, 175);
}

.deletar:active {
    opacity: 0.7;
}


/*Página login*/

.login {
    margin: 0;
    padding: 0;
    display: block;
    background-color: rgb(211, 20, 20);
    border: 4px rgb(0, 0, 0) solid;
    min-height:98.7vh;
}

.login-cabeçalho {
    font-size: 2em;
    color: rgb(255, 255, 255);
    text-align: center;
}

.login-formulario {
    font-size: 1.3em;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 6em;
}

.login-input {
    border: none;
    margin-top: 1em;
    font-size: 0.7em;
    text-align: center;
}

.login-button {
    font-size: 1em;
    background-color: rgb(211, 20, 20);
    width: 10em;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin-top: 0.6em;
}

.login-button:hover {
    opacity:0.7;
}

.login-button:active {
    color: rgb(0, 0, 0);
}

.login-link-div {
    text-align: end;
    margin-top:16.6em;
    margin-right: 0.5em;
}

.login-link  {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.login-link:hover {
    color: rgb(0, 0, 0);
}

.login-link:active {
    color: rgb(0, 0, 252);
}

/*Página register*/

.register {
    margin: 0;
    padding: 0;
    display: block;
    background-color: rgb(0, 0, 252);
    border: 4px rgb(0, 0, 0) solid;
    min-height:98.7vh;
}

.register-cabeçalho {
    font-size: 2em;
    color: rgb(255, 255, 255);
    text-align: center;
}

.register-formulario {
    font-size: 1.3em;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 6em;
}

.register-input {
    border: none;
    margin-top: 1em;
    font-size: 0.7em;
    text-align: center;
}

.register-button {
    font-size: 1em;
    background-color: rgb(0, 0, 252);
    width: 10em;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin-top: 0.6em;
}

.register-button:hover {
    opacity:0.7;
}

.register-button:active {
    color: rgb(0, 0, 0);
}

.register-link-div {
    text-align: end;
    margin-top:16.6em;
    margin-right: 0.5em;
}

.register-link  {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.register-link:hover {
    color: rgb(0, 0, 0);
}

.register-link:active {
    color: rgb(211, 20, 20);
}

/*Página profile*/
.profile {
    margin: 0;
    padding: 0;
    display: block;
    background-color: rgb(10, 92, 35);
    border: 4px rgb(0, 0, 0) solid;
    min-height:98.7vh;
}

.voltar-button {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    padding-top: 1em;
}

.profile-titulo {
    font-size: 2em;
    color: rgb(0, 0, 0);
    text-align: center;
}

.profile-cabecalho {
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    text-align: center;
}

/*Página pokemon*/

.nome-pokemon {
    font-size: 2em;
    color: rgb(0, 0, 0);
    text-align: center;
}

.numero-pokedex {
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    text-align: center;
}

.lista-caracteristicas {
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    text-align: center;
}

.lista-caract {
    display: inline-block;
    text-align: left;
}

.img-pokemon {
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}